body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #777;
    font-family: sans-serif;
    min-height: 100vh;
}

form{
    background-color: rgb(237, 240, 240);
    font: 15px;
    padding: 30px;
}

.form_fieldset{
    border: none;
}

.title{
    margin-top: 15px;
    font-size: 30px;
}
.btn{
    background-color: #777;
    color: white;
    font-size: 16px;
    padding: 8px 25px;
    letter-spacing: 2px;
    border-radius: 5px;
}
